html,
#root,
.AppContainer {
  height: 100%;
  overflow: hidden;
}

body {
  /*background-color: #c62828 !important;*/
  height: 100%;
  overflow: hidden;

  padding-bottom: 0px;
}

.tabNavigation {
  padding-bottom: 0px;
  -webkit-box-shadow: 2px -2px 7px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px -2px 7px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 2px -2px 7px 1px rgba(0, 0, 0, 0.25);
}

.HeroTabs {
  height: calc(100% - 240px - 56px);
}

@supports (padding-top: env(safe-area-inset-top)) {
  .AppBar {
    --safe-area-inset-top: env(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }
}
@supports (padding-top: env(safe-area-inset-top)) {
  .AppContainer {
    margin-top: calc(56px + env(safe-area-inset-top)) !important;
    overflow: hidden;
    padding-bottom: calc(56px + 56px + env(safe-area-inset-bottom)) !important;
  }
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .HeroTabs {
    height: calc(100% - 240px - 32px - env(safe-area-inset-bottom));
  }
}

.App {
  background-color: white;
  height: 100%;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
